.v-data-table-footer {
  border-top: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}
.v-table__wrapper {
  border-radius: unset !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  &::-webkit-scrollbar {
    background: rgba(var(--v-theme-primary-darken-1), 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--v-theme-primary), 0.15);
    border-radius: 8px;
  }
}

textarea {
  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.v-textarea {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  .v-input__control {
    flex: 1;
  }
}

.padding-none {
  padding: 0 !important;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0125em;
  padding: 1rem 1.5rem;
}

.header {
  background: url("/assets/images/header.png"),
    linear-gradient(
      0deg,
      rgba(var(--v-theme-primary), 0.02),
      rgba(var(--v-theme-primary-darken-1), 0.1)
    );
}
